<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= user.role.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user %></td>
    </tr>
  </tbody>
</table>
